<!-- Content Heading -->

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%- messages() %>

<!-- Vehicle Management Display -->
<p><a href="inv/add-classification">Add new classification</a></p>
<p><a href="inv/add-vehicle">Add new vehicle</a></p>